* {
 -moz-box-sizing: border-box;
 /* Firexfox */
 -webkit-box-sizing: border-box;
 /* Safari/Chrome/iOS/Android */
 box-sizing: border-box;
 /* IE */ }
body {
	width: 100%;
	background: #1a1a1a;
}
.container {
	width: 72%;
	height: 100%;
	border: 5px solid white;
	margin-left: 14%;
	background-color: white;
}
header {
	width: 100%;
	height: 180px;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	overflow: hidden;
	border-bottom: 5px solid yellow;
	background-color: black;
}
h1 {
	color: yellow;
	font-family: serif;
	font-size: 38px;
}
nav {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: bold;
	float: right;
	word-spacing: 10px;
}
a {
	color: white;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
li {
	display: inline-block;
}
.background {
	width: 100%;
	height: 500px;
	background-image: url("coworking.jpg");
	position: relative;
}
.brains {
	color: black;
	font-family: 'Merriweather', serif;
	font-size: 22px;
	font-style: italic;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #cecfc9;
}
.strike {
	text-decoration: line-through;
	color: #abaca2;
}
.yelundline {
	border-bottom: 5px solid yellow; 
}
.float {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	text-align: center;
	width: 310px;
	height: 442px;
	padding: 20px;
	border: 1px solid black;
	position: absolute;
	top: 325px;
	right: 230px;
	background-color: rgba(255, 255, 255, .8)
}
.float p {
	text-align: left;
	font-weight: bold;
	line-height: 1.5em;
	padding-left: 10px;
}
.float h2 {
	text-align: left;
	padding-left: 10px;
}
.butt {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: bolder;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 250px;
	padding: 10px;
	margin-top: 50px;
	background-color: yellow;
}
.boxrow {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	text-align: center;
	line-height: 1.5em;
	width: 341px;
	height: 400px;
	padding: 20px;
	border: 1px solid black;
	float: left;
}
.boxrow h2 {
	font-family: 'Merriweather', serif;
	font-weight: bold;
}
.butt2 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: bolder;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 250;
	padding: 10px;
	margin-top: 60px;
	background-color: #cecfc9;
}
footer {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	width: 100%;
	height: 60px;
	clear: both;
	padding: 20px;
	background-color: black;
}
